section.title-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.1rem 2.4rem;
}

h1 {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 3.2rem;
  color: var(--h1Color);
}

.title-avatar > img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}